.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.header-content {
  background-color: inherit;
}

.accent-color {
  color: var(--digi--color--text--link);
}
