.savedAdContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.savedAdBlock {
  /* width: 50%;
  border-radius: 20px;
  border: 1px solid;
  padding: 2rem;
  background-color:var(--digi--color--background--neutral-5); */

  width: 75%;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--digi--color--background--neutral-5);
  margin: 1rem auto;

  transition: all 0.3s ease;
  cursor: pointer;
}

.removeBtnContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: end;
}
.sc-digi-icon-bookmark-solid {
  height: var(--digi--icon--height);
  padding: 10px 24px;
  color: var(--digi--color--text--link);
}
